<div id="Replace">
    <div class="contentTop">
        <span class="pageTitle">
           @* <span class=" glyphicon glyphicon-yen"></span>*@
          @*  @Session["currentPage"]*@
        </span>

    </div>
    <ol class="breadcrumb">
      @*  <li><a class="load" href="@Url.Action("Index", "Home")">@Session["PreviousPage"]</a></li>

       <li class="active">@Session["currentPage"]</li>*@
    </ol>

    <div class="wrapper pl">
        <div class="row">
            <div class="col-sm-6 col-md-2">
                <a class="thumbnail" href="#">
                    <div>
                        <div class="settingsicon">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        </div>
                        <div class="settingscaption">
                            <h5><b>Users</b></h5>

                        </div>
                        <div class="settingsdetails">
                            <p>Add, rename and manage users </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-md-2">
                <a class="thumbnail" href="#">
                    <div>
                        <div class="settingsicon">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        </div>
                        <div class="settingscaption">
                            <h5><b>Users</b></h5>

                        </div>
                        <div class="settingsdetails">
                            <p>Add, rename and manage users </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-md-2">
                <a class="thumbnail" href="#">
                    <div>
                        <div class="settingsicon">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        </div>
                        <div class="settingscaption">
                            <h5><b>Users</b></h5>

                        </div>
                        <div class="settingsdetails">
                            <p>Add, rename and manage users </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-md-2">
                <a class="thumbnail" href="#">
                    <div>
                        <div class="settingsicon">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        </div>
                        <div class="settingscaption">
                            <h5><b>Users</b></h5>

                        </div>
                        <div class="settingsdetails">
                            <p>Add, rename and manage users </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-md-2">
                <a class="thumbnail" href="#">
                    <div>
                        <div class="settingsicon">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        </div>
                        <div class="settingscaption">
                            <h5><b>Users</b></h5>

                        </div>
                        <div class="settingsdetails">
                            <p>Add, rename and manage users </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-md-2">
                <a class="thumbnail" href="#">
                    <div>
                        <div class="settingsicon">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        </div>
                        <div class="settingscaption">
                            <h5><b>Users</b></h5>

                        </div>
                        <div class="settingsdetails">
                            <p>Add, rename and manage users </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-md-2">
                <a class="thumbnail" href="#">
                    <div>
                        <div class="settingsicon">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        </div>
                        <div class="settingscaption">
                            <h5><b>Users</b></h5>

                        </div>
                        <div class="settingsdetails">
                            <p>Add, rename and manage users </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-md-2">
                <a class="thumbnail" href="#">
                    <div>
                        <div class="settingsicon">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        </div>
                        <div class="settingscaption">
                            <h5><b>Users</b></h5>

                        </div>
                        <div class="settingsdetails">
                            <p>Add, rename and manage users </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-md-2">
                <a class="thumbnail" href="#">
                    <div>
                        <div class="settingsicon">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        </div>
                        <div class="settingscaption">
                            <h5><b>Users</b></h5>

                        </div>
                        <div class="settingsdetails">
                            <p>Add, rename and manage users </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-md-2">
                <a class="thumbnail" href="#">
                    <div>
                        <div class="settingsicon">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        </div>
                        <div class="settingscaption">
                            <h5><b>Users</b></h5>

                        </div>
                        <div class="settingsdetails">
                            <p>Add, rename and manage users </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-md-2">
                <a class="thumbnail" href="#">
                    <div>
                        <div class="settingsicon">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        </div>
                        <div class="settingscaption">
                            <h5><b>Users</b></h5>

                        </div>
                        <div class="settingsdetails">
                            <p>Add, rename and manage users </p>
                        </div>
                    </div>
                </a>

            </div>

        </div>
    </div>
</div>

<script type="text/javascript">
    function ShowProcessingMsg() {

        $('.loadingImage').show();

    }
    function HideProcessingMsg() {
        $('.loadingImage').hide();
    }

</script>
